{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Header Start -->

<main data-barba="container" data-barba-namespace="home">

<!-- Hero section start -->
<section id="hero" class="pt-12 pb-32 lg:py-38">
    <div class="container px-4 lg:px-5 xl:px-0 mx-auto lg:flex items-center justify-between gap-20 relative">
        <img src="dist/img/casual-life-3d-young-woman-imagining-things-while-reading-e-book.png" alt="" class="absolute -z-10 lg:left-1/2 w-[600px] xl:w-[750px] -right-[70%] lg:bottom-0">
        <div class="w-full">
            <p class="text-dark uppercase text-lg">Read with desire</p>
            <h1 class="text-dark text-6xl lg:text-7xl xl:text-8xl font-bold mt-7">Take a look <br> it's in a <span class="text-darken">BOOK</span></h1>
            <p class="text-lg text-dark mt-4">Knowledge is a seed that grows when you read.</p>
            <form action="" class="relative">
                <input type="text" name="" id="serach" class="rounded-full w-full shadow-lg mt-10 p-6 text-sm lg:text-base" placeholder="Search books, author, categories ...">
                <input type="submit" class="cursor-pointer px-6 py-2 rounded-full bg-primary text-base lg:text-lg text-darken absolute top-1/2 right-[30px]" value="Search">
            </form>
            <div class="mt-14 w-full xl:w-[60%]">
                <p class="text-dark uppercase mb-3">Popular books</p>
                <div class="flex gap-4 items-center">
                    <img src="{% static 'dist/img/book/3._SY475_.jpg' %}" alt="" class="w-28 h-36">
                    <div class="">
                        <h5 class="text-lg text-darken font-medium">Read - <br>You'd be surprised what You find</h5>
                        <p class="text-sm text-dark">From top - rated books</p>
                    </div>
                    <a href="#" class="ml-3 py-2 px-3 rounded-full bg-primary"><i class="fa-solid fa-arrow-right text-white text-3xl"></i></a>
                </div>
            </div>
        </div>
        <div class="w-full">
        </div>
    </div>
</section>
<!-- Hero section end -->

<!-- Category books section start -->
<section id="category" class="pb-32 lg:pb-38">
    <div class="container px-4 xl:px-0 mx-auto">
        <div class="flex justify-between items-center">
            <h1 class="text-darken text-4xl font-bold">Book <span class="text-primary">Categories</span></h1>
            <a href="#" class="text-dark">View All <i class="fa-solid fa-arrow-right"></i></a>
        </div>
        <div class="swiper1 mt-10">
            <div class="swiper-wrapper">
                <a href="#" class="text-white text-medium w-96 h-20 bg-[url('../img/education.jpg')] bg-cover rounded-lg bg-center swiper-slide"><p class="backdrop-brightness-50 rounded-lg h-20 px-2 py-7 lg:p-7">Education</p></a>
                <a href="#" class="text-white text-medium w-96 h-20 bg-[url('../img/history.jpg')] bg-cover rounded-lg bg-center swiper-slide"><p class="backdrop-brightness-50 rounded-lg h-20 px-2 py-7 lg:p-7">History</p></a>
                <a href="#" class="text-white text-medium w-96 h-20 bg-[url('../img/fantasy.jpeg')] bg-cover rounded-lg bg-center swiper-slide"><p class="backdrop-brightness-50 rounded-lg h-20 px-2 py-7 lg:p-7">Fantasy</p></a>
                <a href="#" class="text-white text-medium w-96 h-20 bg-[url('../img/romance.jpeg')] bg-cover rounded-lg bg-center swiper-slide"><p class="backdrop-brightness-50 rounded-lg h-20 px-2 py-7 lg:p-7">Romance</p></a>
                <a href="#" class="text-white text-medium w-96 h-20 bg-[url('../img/adventure.jpg')] bg-cover rounded-lg bg-center swiper-slide"><p class="backdrop-brightness-50 rounded-lg h-20 px-2 py-7 lg:p-7">Adventure</p></a>
                <a href="#" class="text-white text-medium w-96 h-20 bg-[url('../img/family.jpg')] bg-cover rounded-lg bg-center swiper-slide"><p class="backdrop-brightness-50 rounded-lg h-20 px-2 py-7 lg:p-7">Family</p></a>
                <a href="#" class="text-white text-medium w-96 h-20 bg-[url('../img/novel.jpg')] bg-cover rounded-lg bg-center swiper-slide"><p class="backdrop-brightness-50 rounded-lg h-20 px-2 py-7 lg:p-7">Novel</p></a>
            </div>
        </div>
    </div>
</section>
<!-- Category books section end-->

<!-- almost popular books section start -->
<section id="category" class="pb-32 lg:pb-38">
    <div class="container px-4 xl:px-0 mx-auto">
        <div class="flex justify-between items-center">
            <h1 class="text-darken text-4xl font-bold">Almost <span class="text-primary">Popular</span></h1>
            <a href="#" class="text-dark">View All <i class="fa-solid fa-arrow-right"></i></a>
        </div>
        <div class="swiper2 mt-10">
            <div class="swiper-wrapper">
                <div class="swiper-slide group">
                    <div class="overflow-hidden rounded-lg shadow-lg">
                        <img src="{% static 'dist/img/book/3._SY475_.jpg' %}" alt="" class="w-full group-hover:scale-110 group-hover:rotate-3 transition duration-500 ease-in-out object-cover">
                    </div>
                    <h3 class="text-darken font-medium text-xl mt-2">Harry Potter and The Sorcerer Stone</h3>
                    <p class="text-sm text-dark">Fantasy</p>
                </div>
                <div class="swiper-slide group">
                    <div class="overflow-hidden rounded-lg shadow-lg">
                        <img src="{% static 'dist/img/book/hp_goblet.jpg' %}" alt="" class="w-full group-hover:scale-110 group-hover:rotate-3 transition duration-500 ease-in-out object-cover">
                    </div>
                    <h3 class="text-darken font-medium text-xl mt-2">Harry Potter and The Goblet of Fire</h3>
                    <p class="text-sm text-dark">Fantasy</p>
                </div>
                <div class="swiper-slide group">
                    <div class="overflow-hidden rounded-lg shadow-lg">
                        <img src="{% static 'dist/img/book/hp_halfblood.jpg' %}" alt="" class="w-full group-hover:scale-110 group-hover:rotate-3 transition duration-500 ease-in-out object-cover">
                    </div>
                    <h3 class="text-darken font-medium text-xl mt-2">Harry Potter and The Half-Blood Prince</h3>
                    <p class="text-sm text-dark">Fantasy</p>
                </div>
                <div class="swiper-slide group">
                    <div class="overflow-hidden rounded-lg shadow-lg">
                        <img src="{% static 'dist/img/book/hp_deathly.webp' %}" alt="" class="w-full group-hover:scale-110 group-hover:rotate-3 transition duration-500 ease-in-out object-cover">
                    </div>
                    <h3 class="text-darken font-medium text-xl mt-2">Harry Potter and The Deathly Hallows</h3>
                    <p class="text-sm text-dark">Fantasy</p>
                </div>
                <div class="swiper-slide group">
                    <div class="overflow-hidden rounded-lg shadow-lg">
                        <img src="dist/img/book/hp_philosoper.jpg" alt="" class="w-full group-hover:scale-110 group-hover:rotate-3 transition duration-500 ease-in-out object-cover">
                    </div>
                    <h3 class="text-darken font-medium text-xl mt-2">Harry Potter and The Philosopher's Stone</h3>
                    <p class="text-sm text-dark">Fantasy</p>
                </div>
                <div class="swiper-slide group">
                    <div class="overflow-hidden rounded-lg shadow-lg">
                        <img src="dist/img/book/hp_chamber.jpg" alt="" class="w-full group-hover:scale-110 group-hover:rotate-3 transition duration-500 ease-in-out object-cover">
                    </div>
                    <h3 class="text-darken font-medium text-xl mt-2">Harry Potter and The Chamber of Secrets</h3>
                    <p class="text-sm text-dark">Fantasy</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- almost popular books section end-->

<!-- new release books section start -->
<section id="category" class="pb-32 lg:pb-38">
    <div class="container px-4 xl:px-0 mx-auto">
        <div class="flex justify-between items-center">
            <h1 class="text-darken text-4xl font-bold">New <span class="text-primary">Release</span></h1>
            <a href="#" class="text-dark">View All <i class="fa-solid fa-arrow-right"></i></a>
        </div>
        <div class="swiper2 mt-10">
            <div class="swiper-wrapper">
                <div class="swiper-slide group">
                    <div class="overflow-hidden rounded-lg shadow-lg">
                        <img src="dist/img/book/3._SY475_.jpg" alt="" class="w-full group-hover:scale-110 group-hover:rotate-3 transition duration-500 ease-in-out object-cover">
                    </div>
                    <h3 class="text-darken font-medium text-xl mt-2">Harry Potter and The Sorcerer Stone</h3>
                    <p class="text-sm text-dark">Fantasy</p>
                </div>
                <div class="swiper-slide group">
                    <div class="overflow-hidden rounded-lg shadow-lg">
                        <img src="dist/img/book/hp_goblet.jpg" alt="" class="w-full group-hover:scale-110 group-hover:rotate-3 transition duration-500 ease-in-out object-cover">
                    </div>
                    <h3 class="text-darken font-medium text-xl mt-2">Harry Potter and The Goblet of Fire</h3>
                    <p class="text-sm text-dark">Fantasy</p>
                </div>
                <div class="swiper-slide group">
                    <div class="overflow-hidden rounded-lg shadow-lg">
                        <img src="dist/img/book/hp_halfblood.jpg" alt="" class="w-full group-hover:scale-110 group-hover:rotate-3 transition duration-500 ease-in-out object-cover">
                    </div>
                    <h3 class="text-darken font-medium text-xl mt-2">Harry Potter and The Half-Blood Prince</h3>
                    <p class="text-sm text-dark">Fantasy</p>
                </div>
                <div class="swiper-slide group">
                    <div class="overflow-hidden rounded-lg shadow-lg">
                        <img src="dist/img/book/hp_deathly.webp" alt="" class="w-full group-hover:scale-110 group-hover:rotate-3 transition duration-500 ease-in-out object-cover">
                    </div>
                    <h3 class="text-darken font-medium text-xl mt-2">Harry Potter and The Deathly Hallows</h3>
                    <p class="text-sm text-dark">Fantasy</p>
                </div>
                <div class="swiper-slide group">
                    <div class="overflow-hidden rounded-lg shadow-lg">
                        <img src="dist/img/book/hp_philosoper.jpg" alt="" class="w-full group-hover:scale-110 group-hover:rotate-3 transition duration-500 ease-in-out object-cover">
                    </div>
                    <h3 class="text-darken font-medium text-xl mt-2">Harry Potter and The Philosopher's Stone</h3>
                    <p class="text-sm text-dark">Fantasy</p>
                </div>
                <div class="swiper-slide group">
                    <div class="overflow-hidden rounded-lg shadow-lg">
                        <img src="dist/img/book/hp_chamber.jpg" alt="" class="w-full group-hover:scale-110 group-hover:rotate-3 transition duration-500 ease-in-out object-cover">
                    </div>
                    <h3 class="text-darken font-medium text-xl mt-2">Harry Potter and The Chamber of Secrets</h3>
                    <p class="text-sm text-dark">Fantasy</p>
                </div>
            </div>
        </div>
    </div>
</section>
</main>
<!-- new release books section end-->
{% endblock content %}