<!-- footer start -->
<footer class="py-8 bg-primary">
    <div class="container mx-auto px-4">
        <p class="text-darken text-center">&copy; Design by <a href="https://www.facebook.com/tswndr/" class="font-bold">Toby Suwindra</a> Built by <a href="https://azkazikna.github.io/" class="font-bold">Azkazikna Ageung Laksana (Frontend)</a>&nbsp;<a class="font-bold" href="http://pramdpb.my.id">Pramdhanni Dwi Putra Bintang (Backend)</a> 2022. All rights reserved</p>
    </div>
</footer>
<!-- footer end -->